body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .beer-card{
  margin-right: 10em;

  width: 25em;
  height: 40em;
  margin-top: 1em;
  text-align: center;
} */
.site-theme {
    padding: 30px !important;
}
.beer-contain{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card-image{
  width: 8em;
  margin-top: .25em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.show-image{
  width: 15em;
}

.beer-page{
  border: solid;
  margin-right: 50%;

}

.review-div{
  margin-left: 50%;
  margin-top: auto;
}

.review-content{
border: dotted;

}

.home-image{
  display: block;
  /* margin-left: auto;
  margin-right: auto;
  margin-top: 5em; */
  width: 100vw;
  height: 100vh;
  margin-top: -1em;
}

.profile-header{
  text-align: center;
}

.edit-form{
  display: block;
}

.signup-form{
  text-align: center;
}

.index{
  margin-left: 12%;
  margin-right: auto;
}

.signup-input{
  margin-left: 25%;
  margin-right: auto;
  width: 50%;
}

.login-signup{
  margin-top: 7.5em;
}

.loader{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -25em;
  width: 50em;
}

.profile-favorite{
  margin-right: 10em;

  width: 25em;
  height: 25em;
  margin-top: 1em;
  text-align: center;
}

.header{
  width: 100vw;
}

.home-screen{
  background-color: black;
}

.header-div{
  background-color: gray;
}

.beer-contain{
  margin-bottom: 1em;
}


.grid{
  margin-right: 1em;
  margin-left: 1em;
}

.show-beer{
  margin-left: 1.5em;
}

.beer-cards{
  margin-left: 1em;
}
