body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.beer-card{
  margin-right: 10em;
  border: solid;
  width: 20em;
  height: 25em;
}

.beer-contain{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card-image{
  width: 5em;
  margin-top: .25em;
}
